@model MvcOnlineTicariOtomasyon.Models.Siniflar.Yapilacaklar
@{
    ViewBag.Title = "YapilacakGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="mt-3 mb-3">Yapılacaklar Listesi Güncelle</h2>

@using (Html.BeginForm("YapilacaklarGuncelle", "Yapilacaklar", FormMethod.Post))
{

    <div class="form-group">
        @Html.Label("Yapılacaklar Notu")
        @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
        @Html.HiddenFor(x => x.YapilacaklarID)
    </div>
    <button class="btn btn-primary ">Kaydet</button>
}

